{
	"ServiceUrl": "/destinations/mobileservices",
	"DestinationName": "DEST_SAM2305_ONLINE_PPROP",
	"LanguageURLParam": "sap-language",
	"Headers": {
		"SAP-PASSPORT": "/SAPAssetManager/Rules/Common/Passport/GetSAPPassportHeaderValue.js"
	},
	"OfflineEnabled": false,
	"OnlineOptions": {
		"ServiceOptions": {
			"dataFormat": 1
		}
	},
	"RestService": true
}