{
	"DestinationName": "DEST_DIGITAL_SIGNATURE_PPROP",
	"LanguageURLParam": "sap-language",
	"OfflineEnabled": false,
	"ServiceUrl": "/destinations/mobileservices",
	"OnlineOptions": {
		"ServiceOptions": {
			"dataFormat": 1
		}
    }
}